.Hero {
  display: block;
}
.divHero {
  width: 1920px;
  height: 1023px;
  display: flex;
  background: #0c0b08;
  padding-left: 310px;
  padding-right: 310px;
}
.divLeft {
  width: 650px;
  padding-right: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.h1 {
  display: flex;
  flex-direction: column;
  color: var(--FFFFFF, #fff);
  font-variant-numeric: lining-nums tabular-nums;

  /* H5 23px Cormorant Upright */
  font-family: "Cormorant Upright";
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 29.9px */
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.h2 {
  margin: 0;
  color: var(--DCCA87, #dcca87);

  /* H1 90px Cormorant Upright Semi */
  font-family: "Cormorant Upright";
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 117px */
  letter-spacing: 3.6px;
  text-transform: capitalize;
}
.p {
  width: 453px;
  color: var(--AAAAAA, #aaa);

  /* Body 16px Regular */
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 28px */
  letter-spacing: 0.64px;
  margin-bottom: 32px;
}
.btn {
  width: 157px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #dcca87;
  color: #0c0b08;

  /* Button */
  font-family: "Cormorant Upright";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 175%; /* 28px */
  letter-spacing: 0.64px;
  cursor: pointer;
}
.divRight {
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
}
